@import "tailwind.css";

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.photo-border {
    border: 3px solid;
}

.typed-cursor {
  font-size: inherit;
  font-weight: bold;
  vertical-align: top;
  display: inline-block;
}