@import "tailwindcss";

.photo-border {
    border: 3px solid; /*#4f46e5 Indigo-600 */
}

.typed-cursor {
  font-size: inherit;
  font-weight: bold;
  vertical-align: top;
  display: inline-block; /* Ensure it behaves like text */
}