@import "tailwindcss";

html, body {
  background-color: #000;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.photo-border {
    border: 2px solid;
}

/* * {
  border: 1px solid red;
} */

@media (max-width: 859px) {
  #menu {
    display: none;
  }
  #menu-toggle {
    display: block;
  }
}

@media (min-width: 860px) {
  #menu {
    display: flex;
  }
  #menu-toggle {
    display: none;
  }
}

@media (max-width: 370px) {
  #navbar-title {
    display: none;
  }
}
